* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'ABeeZee', sans-serif;
}

body {
    width: 370px;
    height: 600px;
    background-color: #DFE1E5;
    font-size: 32px;
    padding: 21px;
}

.close-icon-container {
    width: 24px;
    height: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 10px;
    right: 10px;
    border-radius: 50%;
    cursor: pointer;
}
.close-icon-container:hover {
    background-color: #C6C6C6;
}
.close-icon {
    width: 20px;
    height: 20px;
}

.section-container {
    width: 100%;
    height: fit-content;
    margin-bottom: 30px;
}

.section-title-container {
    display: flex;
    align-items: center;
}

.section-title {
    font-size: 24px;
    font-weight: 400;
    user-select: none;
    margin-right: 9px;
}

.add-icon-container {
    width: 28px;
    height: 28px;
    align-items: center;
}

.add-icon {
    width: 28px;
    height: 28px;
    cursor: pointer;
    border-radius: 50%;
}

.add-icon:hover  {
    background-color: #C6C6C6;
}

.add-icon-hover-text-container {
    background-color: #000000;
    position: relative;
    left: 50%;
    bottom: 5px;
    padding: 5px;
    width: 110px;
    display: flex;
    justify-content: center;
    transform: translateX(-50%);
    border-radius: 4px;
    opacity: 0.45;
}
.add-icon-hover-text {
    font-size: 12px;
    color: white;
}

.popup-background-blocker {
    background-color: black;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0.15;
}

/* popup stuff */
.add-popup {
    width: 250px;
    height: 150px;
    background-color: white;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    font-size: 16px;
    padding: 8px;
    border-radius: 4px;
    box-shadow: 0px 0px 8px #949494;
}

.input-container {
    display: flex;
    align-items: center;
}

label {
    width: 60px;
}

input {
    width: 180px;
    height: 35px;
    border: 1px solid #94949472;
    border-radius: 4px;
    padding-left: 6px;
    padding-right: 6px;
    font-size: 16px;
    align-items: center;
}

.button-container {
    width: 100%;
    height: fit-content;
    display: flex;
    justify-content: end;
}

.popup-button {
    width: 80px;
    height: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 4px;
    cursor: pointer;
}

.add-button {
    background-color: #50C878;
}

.cancel-button {
    background-color: #94949472;
    margin-right: 10px;
}

/* favorites */
.favorites-list-container {
    margin-top: 16px;
}

.folder {

}

.link-container {
    display: flex;
    justify-content: start;
    align-items: center;
    cursor: pointer;
}
.link-container:hover > .trash-icon {
    display: unset;
}
.link-container:hover > .link {
    background-color: #C6C6C6;
}

.link {
    font-size: 16px;
    font-weight: 400;
    padding: 5px;
    cursor: pointer;
    user-select: none;
    border-radius: 3px;
    width: 100%;
}

.folder-title-container {
    display: flex;
    justify-content: start;
    align-items: center;
    font-size: 16px;
    font-weight: 400;
    padding: 5px 0 5px 5px;
    cursor: pointer;
    border-radius: 3px;
}
.folder-title-container:hover {
    background-color: #C6C6C6;
}

.link-folder {
    user-select: none;
    margin-right: 10px;
}

.dropdown-icon {
    user-select: none;
    margin-right: 10px;
}
.expanded {
    transform: rotate(180deg);
}

.folder-content {
    display: none;
}

.sub-link {
    padding-left: 35px;
}

.emoji-container {
    width: 28px;
    height:28px;
    margin-right: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
}
.emoji-container:hover {
    background-color: #DFE1E5;
    border-radius: 4px;
}

.emoji {
    user-select: none;
}

/* tab groups */
.tab-groups-list-container {
    margin-top: 16px;
}

.tab-group {
    background-color: white;
    border: 1px solid white;
    border-radius: 4px;
    padding: 7px;
    margin-bottom: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
}
.tab-group:hover {
    border: 1px solid #949494;
}

.tab-group-title-container {
    display: flex;
    justify-content: start;
    align-items: center;
}

.tab-group-title {
    font-size: 16px;
    user-select: none;
}

.tab-group-count {
    font-size: 16px; 
    color: #D9D9D9;
    user-select: none;
}

/* classes for random use throughout */
.hidden {
    display: none;
}